<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	
	
	<bean id="serviceInterceptor" class="com.block.framework.core.interceptor.service.ServiceInterceptor"></bean>
	
	<aop:config>
		<aop:pointcut expression="@within(org.springframework.stereotype.Service)" id="serviceIpointcut"/>
		
		<aop:aspect id="serviceAspect" ref="serviceInterceptor">
		<aop:before method="beforeMethod"  pointcut-ref="serviceIpointcut"/>
		<aop:after method="afterMethod" pointcut-ref="serviceIpointcut"/>
		</aop:aspect>

	</aop:config>
</beans>