<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.block.framework.core.trace.mapper.TraceMapper" >
  <resultMap id="BaseResultMap" type="com.block.framework.core.trace.InnerTrace" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="traceId" property="traceId" jdbcType="VARCHAR" />
    <result column="spanId" property="spanId" jdbcType="VARCHAR" />
    <result column="parentSpanId" property="parentSpanId" jdbcType="VARCHAR" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="methodName" property="methodName" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="serviceType" property="serviceType" jdbcType="VARCHAR" />
    <result column="step" property="step" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, traceId, spanId,parentSpanId, startTime, endTime, duration, methodName, ip, serviceType,step, ctime
    
  </sql>
  
  
  
  <select id="list" resultMap="BaseResultMap" parameterType="com.block.framework.core.trace.InnerTrace" >
    select 
    <include refid="Base_Column_List" />
    from t_trace
    where 1=1 
	<if test="ip != null and ip!=''">
		and ip = #{ip}
	</if>
	<if test="serviceType != null and serviceType!=''">
		and serviceType = #{serviceType}
	</if>		
	<if test="duration>0">
		and duration > #{duration}
	</if>
	<if test="traceId != null ">
		and traceId = #{traceId}
	</if>
	<if test="beginDate != null ">
		and ctime >= #{beginDate}
	</if>
	<if test="endDate != null ">
		<![CDATA[and ctime < #{endDate}]]> 
	</if>
	<choose>
    	<when test="orders !=null and orders!=''">
        	order by #{orders}
        </when>
        <otherwise>
        	order by id desc
        </otherwise>
    </choose>
	
	
  </select>
  
  
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into t_trace (traceId,spanId,parentSpanId, startTime, endTime,duration,methodName,  ip,serviceType,step,ctime,result)
    values 
    <foreach collection="list" item="item" index="index" open="" close="" separator=",">
	(#{item.traceId},#{item.spanId},#{item.parentSpanId},#{item.startTime},#{item.endTime},#{item.duration},#{item.methodName},#{item.ip},#{item.serviceType},#{item.step},now(),#{item.result})
	</foreach>
  </insert>
  
  <insert id="insert" parameterType="com.block.framework.core.trace.InnerTrace" >
    insert into t_trace (traceId,spanId,parentSpanId, startTime, endTime,duration,methodName,  ip,serviceType,step,ctime,result)
    values 
    (#{traceId},#{spanId},#{parentSpanId},#{startTime},#{endTime},#{duration},#{methodName},#{ip},#{serviceType},step,now(),#{result})
  </insert>
  
</mapper>
