<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<bean id="devProperties" class="com.block.framework.admin.util.DevProperties">
		<property name="dev" value="0" />
	</bean>
	
	<!-- 用户登录验证拦截器-->
 	<mvc:interceptors>
 		
        <mvc:interceptor>
            <mvc:mapping path="/**" />   

            <mvc:exclude-mapping path="/open/**" />
            <bean class="com.block.framework.admin.interceptor.LoginInterceptorAdapter" />       
            
        </mvc:interceptor>
     </mvc:interceptors> 
</beans>