<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!--  
	<bean id="fileResources" class="java.util.ArrayList">  
        <constructor-arg>  
        <list>  
            <value>classpath*:sms-ali.properties</value>  
        </list>  
        </constructor-arg>  
    </bean>
    -->  
    <bean id="smsConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:sms-ali.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
	<bean id="aliSmsConfig" class="com.block.framework.sms.alibaba.SmsConfig">
        <property name="accessKeyId" value="${sms.ali.accessKeyId}"/>
        <property name="accessKeySecret" value="${sms.ali.accessKeySecret}"/>
    </bean>
	
	<bean id="aliSmsService" class="com.block.framework.sms.alibaba.AliSmsServiceImpl"/>
	
	<bean id="fileServiceFactory" class="com.block.framework.sms.SmsServiceFactory">
		<property name="defaultName" value="ali"></property>
		<property name="services">
            <map>
                <entry key="ali" value-ref="aliSmsService" />
            </map>
        </property>
    </bean>
</beans>