<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!--  <context:property-placeholder location="classpath*:*.properties" ignore-unresolvable="true"/>-->
	<!--  
	<bean id="fileResources" class="java.util.ArrayList">  
        <constructor-arg>  
        <list>  
            <value>classpath*:qiniu.properties</value>  
        </list>  
        </constructor-arg>  
    </bean>  
    -->
    <bean id="fileResources"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:qiniu.properties</value>
				<value>classpath*:localfile.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>
	
	<bean id="qiniuConfig" class="com.block.framework.file.qiniu.QiniuConfig">
        
        <property name="bucklet" value="${file.qiniu.bucklet}"/>
        <property name="ak" value="${file.qiniu.ak}"/>
        <property name="sk" value="${file.qiniu.sk}"/>
        <property name="domain" value="${file.qiniu.domain}"/>
        <property name="zone" value="${file.qiniu.zone}"/>
        <property name="localDir" value="${file.qiniu.localDir}"/>
    </bean>
    
    <bean id="localConfig" class="com.block.framework.file.local.LocalConfig">
        
        <property name="domain" value="${file.local.domain}"/>
        <property name="path" value="${file.local.path}"/>
        <property name="acceptSuffix" value="${file.local.acceptSuffix}"/>
        
    </bean>
	
	<bean id="qiniuFileService" class="com.block.framework.file.qiniu.QiniuFileServiceImpl"/>
	
	<bean id="localFileService" class="com.block.framework.file.local.LocalFileServiceImpl"/>
	
	<bean id="fileServiceFactory" class="com.block.framework.file.FileServiceFactory">
		<property name="defaultName" value="qiniu"></property>
		<property name="services">
            <map>
                <entry key="qiniu" value-ref="qiniuFileService" />
                <entry key="local" value-ref="localFileService" />
            </map>
            
        </property>
    </bean>
</beans>